
  
  .qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
  }
  
  .qualification__calender {
    font-size: var(--small-font-size);
  }
  
  .qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: linear-gradient(
        92.23deg,
        #ff56f6 21.43%,
        #b936ee 50.63%,
        #3bace2 100%,
        #406aff 117.04%
      );
      box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
    border-radius: 50px;
    margin-right: 30px;
  }
  
  .qualification__line {
    display: block;
    width: 1px;
    height: 78%;
    background-color: #fff;
    transform: translate(6px, -7px);
  }
  
  
  /* For small devices */
  @media screen and (max-width: 768px) {
    
  .qualification__data {
    grid-template-columns: 1fr;
    justify-items: center;
  }
    .qualification__line {
      height:35px
      
    }
    .qualification__rounder {
     margin-bottom: 5px
    }
    
  }
  
  /* For extra small devices */
  @media screen and (max-width: 350px) {
    .qualification__data {
      grid-template-columns: 1fr;
    }
    .qualification__line {
        height: 50px;
        
      }
    .qualification__rounder {
      margin-right: 10px;
    }
  }
  