.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000; /* Sesuaikan nilai z-index jika diperlukan */
  background-color: transparent;
  padding-bottom: 10px;
  padding-top: 10px;
  }
  
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
  }
  
  .nav__logo,
  .nav__toggle {
    color: #fff;
  }
  
  .nav__list {
    display: flex;
    column-gap: 2rem;
  }
  
  .nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: #fff;
    transition: 0.3s;
  }
  
  .img-logo {
    width: 20px;
    height: 15px;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }
  
  /* active link */
  .active-link,
  .nav__link:hover {
    background-image: linear-gradient(
        92.23deg,
        #406aff 21.43%,
        #3bace2 50.63%,
        #b936ee 100%,
        #ff56f6 117.04%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  /* break points */
  @media screen and (max-width: 768px) {
    .header {
      position: fixed;
      top: 0;
      bottom: initial;
    }
  
    .nav {
      height: var(--header-height);
    }
  
    .nav__menu {
        position: fixed;
        top: -100%; /* Posisikan menu di luar layar di bagian atas */
        left: 0;
        width: 100%;
        background-image: url('../../assets/site-bg.jpg');
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); /* Sesuaikan arah bayangan kotak */
        border-radius: 0 0 1.5rem 1.5rem; /* Sesuaikan radius border */
        transition: 0.3s;
    }
    /* Show Menu */
    .show-menu {
      top: 0;
    }
  
    .nav__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  
    .nav__icon {
      font-size: 1.2rem;
    }
  
    .nav__close {
      position: absolute;
      right: 1.3rem;
      bottom: 0.5rem;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--title-color);
    }
  
    .nav__close:hover {
      color: var(--title-color-dark);
    }
  
    .nav__toggle {
      font-size: 1.1rem;
      cursor: pointer;
    }
  
    .nav__icon,
    .nav__close,
    .nav__toggle {
      display: block;
    }
  }
  
  /* for small divices */
  @media screen and (max-width: 350px) {
    .nav__menu {
      padding: 2rem 0.25rem 4rem;
    }
  
    .nav__list {
      column-gap: 0;
    }
  }
  