

.footer__container{
    padding: 2rem 0 6 rem;
    padding-bottom: 10px;
    padding-top: 30px;
}

.footer__titl,
.footer__link {
    color: var(--title-color);
}

.footer__title{
    text-align: center;
    margin-bottom: var(--mb-2);
}

.footer__link:hover{
    color: #333333;
}

.footer__list{
    margin-top: var(--mb-2);
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
    padding-top: 30px;
   
}

.footer__social-link{
    background-color: var(--title-color);
    color: var(--container-color);
    font-size: 1.125rem;
    padding: 0.4rem;

    display: inline-flex;
}

.footer__social-link:hover{
    background-color: var(--title-color-dark);

}

.footer__copy{
    display: block;
    margin-top: 2rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--small-font-size);
    padding-bottom: 30px;
}

/* break points */
/* for large devices */
@media screen and (max-width: 992px) { 
    .footer__container{
      grid-template-columns: max-content;
      row-gap: 2rem;
    }
  }

  
  @media screen and (max-width: 576px) {
    .footer__container {
        grid-template-columns: 1fr;
    }

    .footer__content {
        padding: 1.5rem;
    }
    .footer__copy {
        padding-bottom: 1px;
    }
  }
  
  /* for small divices */
  @media screen and (max-width: 350px) {
    .sfooter__box{
        column-gap: 1.25rem;
    }

    .footer__name{
        font-size: var(--small-font-size);
    }
  }
