.announcement {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  
  .announcement-text {
  }
  
  .slide-image {
    
    filter: brightness(0) invert(1);
    margin-right: 120px;
    border: 2px solid transparent; /* Atur border */
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
}

.slide-image:hover {
    padding: 15px;
    filter: brightness(1) invert(0);
    background-color: #fff;
    border-color: #fff;
  }
  