  /* For small devices */
  @media screen and (max-width: 768px) {
    .h2 {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .h2 br {
        display: none;
      }
      
    }
    
    /* For extra small devices */
    @media screen and (max-width: 350px) {
      .qualification__data {
        grid-template-columns: 1fr;
      }
      .qualification__line {
          height: 50px;
          
        }
      .qualification__rounder {
        margin-right: 10px;
      }
    }